canvas {
  border: 1px solid red;
  background: rgb(7, 60, 120); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgb(7,60,120), rgb(134,123,132)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(7,60,120), rgb(134,123,132)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(7,60,120), rgb(134,123,132)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(7,60,120), rgb(134,123,132)); /* Standard syntax */
}

body, html {
    height: 100vh;
    font-family: 'Bungee Inline', cursive;

    overflow: hidden;
    background: black;
}

.canvas-container {
  /* margin-left: 35vw; */
}

.right-of-canvas{
  display: flex;
  flex-direction: column;
}

.canvas-wrapper {
  height: 600px;
  width: 400px;
  margin-right: 2%;
  float: left;
}

.goal {
  border: 1px solid white;
  display: block;
  width: 23em;
  float: left;
  margin-bottom: 3%;
}

.controls {
  display: inline-block;
  border: 1px solid white;
  width: 8em;
  float: left;
}

canvas{
  float: left;
  margin-right: 3%;
}

a {
  color: white;
}

a:hover {
  color: purple;
}

div {
  color: white;
}
